<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get Your Certificate for DVAPI</title>
        <link rel="stylesheet" href="./Cert-Generator-master/style.css">
        <link rel="favicon" href="favicon.ico">
    </head>

    <body>
        <header>
            <img src="../images/icon/logo.png" alt="DVAPI">
        </header>
        <main>
            <br>
            <label for="nameInput">Type Your Name</label>
            <br>
            <form id="certificateForm">
                <label for="nameInput">Name:</label>
                <input type="text" id="nameInput" required>
                <br>
                <button type="submit">Generate Certificate</button>
            </form>
            <script>
                document.getElementById("certificateForm").addEventListener("submit", function(event) {
                    event.preventDefault();
                    
                    const name = document.getElementById("nameInput").value;
                    
                    const confirmation = confirm(`Are you sure you want to have "${name}" as your name in the certificate? This can't be changed later, so if it is incorrect, please correct it.`);
                    
                    if (confirmation) {
                        const requestData = { name };
            
                        fetch("/certificate", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(requestData)
                        })
                        .then(response => response.blob())
                        .then(blob => {
                            const pdfUrl = URL.createObjectURL(blob);
                            window.open(pdfUrl, "_blank");
                            window.close();
                        })
                        .catch(error => {
                            console.error("Error generating certificate:", error);
                            alert("Error generating certificate. Please try again.");
                        });
                    } else {
                        document.getElementById("nameInput").value = "";
                    }
                });
            </script>
        </main>
    </body>
</html>