<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Your Certificate for DVAPI</title>
    <link rel="stylesheet" href="./Cert-Generator-master/style.css">
    <link rel="favicon" href="favicon.ico">
    <style>
        .congratulations-text {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            font-size: 30px;
        }

        .gif-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh; /* Adjust as needed */
        }
    </style>
</head>
<body>
<header>
    <img src="../images/icon/logo.png" alt="DVAPI">
</header>
<main>
    <br>
    <div id="formcert">
        <label for="nameInput">Type Your Name</label>
        <br>
        <form id="certificateForm" style="display: block;">
            <label for="nameInput">Name:</label>
            <input type="text" id="nameInput" required>
            <br>
            <button type="submit">Generate Certificate</button>
        </form>
    </div>
    <div id="nudge" style="display: none; top: 0px !important;" class="js-container container">
        <div class="gif-container">
            <div class="tenor-gif-embed" data-postid="23993371" data-share-method="host" data-aspect-ratio="1" data-width="20%" ><a href="https://tenor.com/view/bhh-big-helmet-heroes-game-knight-reaction-gif-23993371">Bhh Big Helmet Heroes Sticker</a>from <a href="https://tenor.com/search/bhh-stickers">Bhh Stickers</a></div>
        </div>
        <div class="congratulations-text">🎉 Bravo! You've conquered the LAB like a true champ! Now, it's time to flaunt your accomplishment far and wide. Share your dazzling certificate with the world on Twitter or LinkedIn and let the celebrations begin! 🚀✨


        </div>

        <iframe id="certificateFrame" style="width: 100%; height: 500px;display: none;"></iframe>
        <button id="downloadButton">Download Certificate</button>
        <br>
        <!-- Share buttons for Twitter and LinkedIn -->
        <a href="https://twitter.com/intent/tweet?text=I%20just%20completed%20the%20DVAPI%20LAB%20and%20got%20my%20certificate!%20Check%20it%20out!" target="_blank">Share on Twitter</a>
        <a href="https://www.linkedin.com/shareArticle?title=DVAPI%20LAB%20Completion%20Certificate&summary=I%20just%20completed%20the%20LAB%20and%20got%20my%20certificate!%20Check%20it%20out!" target="_blank">Share on LinkedIn</a>
    </div>
    <script>
        document.getElementById("certificateForm").addEventListener("submit", function (event) {
            event.preventDefault();

            const name = document.getElementById("nameInput").value;

            const confirmation = confirm(`Are you sure you want to have "${name}" as your name in the certificate? This can't be changed later, so if it is incorrect, please correct it.`);

            if (confirmation) {
                document.getElementById("formcert").style.display = "none";

                const requestData = {name};

                fetch("/certificate", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(requestData)
                })
                    .then(response => response.blob())
                    .then(blob => {
                        const pdfUrl = URL.createObjectURL(blob);
                        document.getElementById("certificateFrame").src = pdfUrl;
                        document.getElementById("nudge").style.display = "block";

                    })
                    .catch(error => {
                        console.error("Error generating certificate:", error);
                        alert("Error generating certificate. Please try again.");
                    });
            } else {
                document.getElementById("nameInput").value = "";
            }
        });

        document.getElementById("downloadButton").addEventListener("click", function () {
            const certificateUrl = document.getElementById("certificateFrame").src;
            const a = document.createElement("a");
            a.href = certificateUrl;
            a.download = "certificate.pdf";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });
    </script>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</main>
</body>
</html>
